h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color:aqua;
}

a:hover {
    font-size:xx-large;
}

ul {
    list-style-type:square;
}

li:hover {
    text-align: end;
    text-transform: uppercase;
}

h2:last-of-type {
    text-transform: lowercase;
}